@font-face {
  font-family: "MADE Coachella Regular";
  src: url(./font/MADE\ Coachella\ Regular\ PERSONAL\ USE.otf);
}

@font-face {
  font-family: "MADE Coachella Light";
  src: url(./font/MADE\ Coachella\ Light\ PERSONAL\ USE.otf);
}

@font-face {
  font-family: "MADE Coachella Thin";
  src: local("MADE Coachella Thin"),
    url(./font/MADE\ Coachella\ Thin\ PERSONAL\ USE.otf) format("truetype");
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  color: #efeeee;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #1b152b;
  overflow-x: hidden;
}

img {
  user-select: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

h1 {
  font-family: "MADE Coachella Regular";
  font-size: 3.5vw;
  font-weight: 100;
}

h3 {
  font-family: "MADE Coachella Regular";
  font-size: 2vw;
  font-weight: 100;
}

h4 {
  font-family: "MADE Coachella Thin";
  font-size: 1.3vw;
  font-weight: 300;
  text-align: center;
}

img {
  display: inline-flex;
  flex-grow: 1;
}

p {
  font-size: 1.2vw;
  letter-spacing: 0.4px;
  font-weight: 300;
  line-height: 1.5;
}

p .modal-title {
  font-size: 2rem;
  color: #423389;
  font-weight: 600;
  text-align: center;
}

p .modal-subtitle {
  font-size: 1.2rem;
  margin-top: -30px;
  color: #423389;
  font-weight: 600;
  text-align: center;
}

@keyframes move {
  from {
    transform: scale(0.9);
  }

  to {
    transform: scale(1.1);
  }
}

.box {
  height: 100px;
  width: 100px;
  transition: all 0.2s;
  animation: move 1s ease-in-out alternate infinite;
  z-index: 3;
  position: absolute;
}

.box:hover {
  filter: drop-shadow(5px 5px 0 #e0d8f0) drop-shadow(-5px -5px 0 #e0d8f0)
    drop-shadow(0px 10px 20px rgba(0, 0, 0, 0.4));
  cursor: pointer;
  animation: none;
  transform: scale(1.2);
}

.nav {
  background-color: #1b152b;
  color: #efeeee;
  position: sticky;
  top: 0px;
  width: 100%;
  height: 80px;
  z-index: 1000;
  font-family: MADE Coachella Thin;
  font-size: 16px;
  user-select: none;
}

iframe {
  margin: 0 50px 0 50px;
}
.nav .nav-content {
  width: 1152px;
  padding: 0rem 3rem;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.nav-items {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-item {
  display: inline;
  margin-left: 2rem;
  color: #efeeee;
  opacity: 0.5;
  transition: all 0.2s ease-in-out;
}

.nav-item:hover {
  opacity: 1;
  cursor: pointer;
}

.active {
  opacity: 0.8;
}

/* @media screen and (max-width: 1248px) {
  .nav-items li:not(:first-child) {
    display: none;
  }
  .nav .nav-content {
    width: 80vw;
  }
} */

.container-light {
  background-color: #efeeee;
  color: #1b152b;
}

